.example-card {
  max-width: 300px;
}

.example-header-image {
  background-size: cover;
}

::ng-deep .mat-card {
  border-radius: 20px !important;
  border: 1px solid rgb(206, 206, 206);
  max-width: 400px;
}

:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.noimg {
  background-image: url(../../../assets/noimg.png);
}
