<mat-card class="example-card" *ngFor="let series of lista_series">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ series.name }}</mat-card-title>
  </mat-card-header>
  <img
    [src]="'https://image.tmdb.org/t/p/w300/' + series.poster_path"
    onerror="this.src = '../../../assets/noimg.png' "
  />
  <mat-card-content>
    {{ series.overview }}
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
