<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="row justify-content-center">
                <div class="col-9 mt-2 mb-4">
                  <img
                    src="./assets/img/st-booklogo.png"
                    alt="Showtime Logo"
                    class="img-fluid"
                  />
                </div>
              </div>
              <div class="text-center mb-4">
                <p class="text-default font-weight-bold">Bem vindo de volta!</p>
              </div>
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" role="form">
                <div
                  class="form-group mb-3"
                  [ngClass]="{ focused: focus === true }"
                >
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fas fa-user"></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      formControlName="username"
                      placeholder="Nome de usuário"
                      type="text"
                      (focus)="focus = true"
                      (blur)="focus = false"
                    />
                  </div>
                </div>
                <div
                  class="form-group"
                  [ngClass]="{ focused: focus1 === true }"
                >
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-lock-circle-open"></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Senha"
                      type="password"
                      formControlName="password_hash"
                      (focus)="focus1 = true"
                      (blur)="focus1 = false"
                    />
                  </div>
                </div>
                <div class="text-center mt-5">
                  <button type="button" class="btn btn-default">
                    Log in
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6 text-left">
              <a [routerLink]="['/']" class="text-light">
                <small>Esqueceu sua senha?</small>
              </a>
            </div>
            <div class="col-6 text-right">
              <a [routerLink]="['/signup']" class="text-light">
                <small>Criar conta</small>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
