<nav
  id="navbar-main"
  class="navbar navbar-main navbar-expand-lg navbar-transparent headroom headroom--top headroom--pinned"
>
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/']">
      <img src="./assets/img/st-whitelogo.png" alt="Showtime Logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="navbar_global"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="navbar-collapse collapse"
      id="navbar_global"
      [ngbCollapse]="isCollapsed"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/']">
              <img src="./assets/img/st-logo.png" alt="Showtime Logo" />
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button
              type="button"
              class="navbar-toggler"
              (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed"
              aria-controls="navbar_global"
            >
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav ml-lg-auto">
        <li class="nav-item">
          <a class="nav-link nav-link-icon" [routerLink]="['/login']">
            <span class="fas fa-user"></span>
            <span class="nav-link-inner--text">Login</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" [routerLink]="['/signup']">
            <span class="fas fa-user-plus"></span>
            <span class="nav-link-inner--text">Criar conta</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
