<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="row justify-content-center">
                <div class="col-9 mt-2 mb-2">
                  <img
                    src="./assets/img/st-booklogo.png"
                    alt="Showtime Logo"
                    class="img-fluid"
                  />
                </div>
              </div>
              <div class="text-center mb-4">
                <p class="text-default font-weight-bold">Cadastre-se agora!</p>
              </div>
              <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                <div
                  class="form-group"
                  [ngClass]="{ focused: focusUserName === true }"
                >
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fas fa-user"></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Nome de Usuário"
                      type="text"
                      (focus)="focusUserName = true"
                      (blur)="focusUserName = false"
                      formControlName="username"
                    />
                  </div>
                </div>
                <div
                  class="form-group"
                  [ngClass]="{ focused: focusEmail === true }"
                >
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-email-83"></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Email"
                      type="email"
                      (focus)="focusEmail = true"
                      (blur)="focusEmail = false"
                      formControlName="email"
                    />
                  </div>
                </div>
                <div
                  class="form-group"
                  [ngClass]="{ focused: focusPassword === true }"
                >
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-lock-circle-open"></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Senha"
                      type="password"
                      (focus)="focusPassword = true"
                      (blur)="focusPassword = false"
                      formControlName="password_hash"
                    />
                  </div>
                </div>
                <div
                  class="form-group"
                  [ngClass]="{ focused: focusConfirmPassword === true }"
                >
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-lock-circle-open"></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Confirmar senha"
                      type="password"
                      (focus)="focusConfirmPassword = true"
                      (blur)="focusConfirmPassword = false"
                      formControlName="confirm_password"
                    />
                  </div>
                </div>
                <div
                  class="form-group"
                  [ngClass]="{ focused: focusEstado === true }"
                >
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="far fa-flag"></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Estado"
                      type="text"
                      (focus)="focusEstado = true"
                      (blur)="focusEstado = false"
                      formControlName="estado"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-image"></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Foto"
                      type="file"
                      formControlName="foto"
                    />
                  </div>
                </div>
                <div
                  class="form-group"
                  [ngClass]="{ focused: focusGenero === true }"
                >
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fas fa-neuter"></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Gênero"
                      type="text"
                      (focus)="focusGenero = true"
                      (blur)="focusGenero = false"
                      formControlName="genero"
                    />
                  </div>
                </div>
                <div
                  class="form-group"
                  [ngClass]="{ focused: focusWebsite === true }"
                >
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-world-2"></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Website"
                      type="text"
                      (focus)="focusWebsite = true"
                      (blur)="focusWebsite = false"
                      formControlName="website"
                    />
                  </div>
                </div>
                <div
                  class="form-group"
                  [ngClass]="{ focused: focusName === true }"
                >
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fas fa-signature"></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Seu nome"
                      type="text"
                      (focus)="focusName = true"
                      (blur)="focusName = false"
                      formControlName="nome"
                    />
                  </div>
                </div>
                <div
                  class="form-group"
                  [ngClass]="{ focused: focusApelido === true }"
                >
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-badge"></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Como você quer ser chamado"
                      type="text"
                      (focus)="focusApelido = true"
                      (blur)="focusApelido = false"
                      formControlName="apelido"
                    />
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-default mt-4">
                    Criar conta
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
