<nav class="navbar navbar-expand-lg bg-dark">
  <a class="navbar-brand text-secondary" routerLink="/">Home</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon" ></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav"  >
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link text-secondary" routerLink="/filme">Filmes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="/serie">Series</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="/livro">Livros</a>
      </li>
    </ul>
    <div class="secondary-navigation">
      <div class="nav-element">
          <!--<button mat-flat-button class="border black" >
              <mat-icon >account_circle</mat-icon>
            </button>-->
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid my-3" >
  <div class="text-center ">
    <h4 >Filmes Populares</h4>
  </div>

  <div class="row" id="center-row">
    <div class="col-12 col-md-2" *ngFor="let filmes of lista_filmes">
      <div class="card border-dark">
        <div class="card-header text-center text-truncate">
          <h5>{{ filmes.title }}</h5>
        </div>
        <img
          routerLink="/filme"
          class="img-fluid"
          [src]="'https://image.tmdb.org/t/p/w300/' + filmes.poster_path"
          onerror="this.src = '../../../assets/noimg.png' "
        />
        <div class="card-body">
          <p class="card-text text-truncate">{{ filmes.overview }}</p>
        </div>

        <div class="row justify-content-center mb-3">
          <div
            class="btn-group"
            role="group"
            aria-label="Button group with nested dropdown"
          >
            <button mat-flat-button color="warn">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-flat-button class="border blue">
              <mat-icon>share</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-3">
    <h4 >Séries Populares</h4>
  </div>
  <div class="row" id="center-row">
    <div class="col-12 col-md-2" *ngFor="let series of lista_series">
      <div class="card border-dark">
        <div class="card-header text-center text-truncate">
          <h5>{{ series.name }}</h5>
        </div>
        <img
          class="img-fluid"
          [src]="'https://image.tmdb.org/t/p/w300/' + series.poster_path"
          onerror="this.src = '../../../assets/noimg.png' "
        />
        <div class="card-body">
          <p class="card-text text-truncate">{{ series.overview }}</p>
        </div>

        <div class="row justify-content-center mb-3">
          <div
            class="btn-group"
            role="group"
            aria-label="Button group with nested dropdown"
          >
            <button mat-flat-button color="warn">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-flat-button class="border blue">
              <mat-icon>share</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
