<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <img src="./assets/img/st-whitebooklogo.png" class="img-fluid" />
              <p class="lead text-white">
                Perfeito para quem assiste séries, filmes e lê livros! Marque
                qual episódio você parou na sua série ao invés de perder seu
                precioso tempo procurando episódio a episódio. Já teve que parar
                de assistir um filme e não soube por onde retomar? Usa o
                Showtime e nunca mais passe por isso! Começou um livro no Kindle
                e quis continuar na versão física que você tem e não soube em
                qual página parou? Usando o Showtime esse problema nunca mais
                fará parte da sua vida!
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg
          x="0"
          y="0"
          viewBox="0 0 2560 100"
          preserveAspectRatio="none"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
  <app-testimonies></app-testimonies>
</main>
