<main>
  <div class="position-relative">
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-primary">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- <mat-card class="LivrosComponent" *ngFor="let livros of lista_livros">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ livros.title }}</mat-card-title>
        </mat-card-header>
      
        <mat-card-content> </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button>
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>share</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card> -->
      <div class="container pt-lg-md">
        <div class="row">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body p-lg-2">
              <div class="container">
                <div
                  class="form-group mt-3"
                  [ngClass]="{ focused: focus === true }"
                >
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-zoom-split-in"></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Busque por um livro"
                      type="text"
                      (focus)="focus = true"
                      (blur)="focus = false"
                    />
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h4 class="display-3 text-default">
                  Buscado por: Stephen Hawking
                </h4>
              </div>
              <section class="section bg-secondary">
                <div class="container">
                  <div class="row">
                    <div
                      class="col-12 col-md-3"
                      *ngFor="let livro of lista_livros"
                    >
                      <div class="card bg-default shadow mb-3 border-0">
                        <img
                          routerLink="/filme"
                          class="img-fluid"
                          [src]="
                            livro.volumeInfo.imageLinks.smallThumbnail.replace(
                              '&zoom=5',
                              '&zoom=2'
                            )
                          "
                          onerror="this.src = './assets/img/noimg.png' "
                        />
                        <blockquote class="card-blockquote">
                          <svg
                            preserveAspectRatio="none"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 583 95"
                            class="svg-bg"
                          >
                            <polygon
                              points="0,52 583,95 0,95"
                              class="fill-default"
                            />
                            <polygon
                              points="0,42 583,95 683,0 0,95"
                              opacity=".2"
                              class="fill-default"
                            />
                          </svg>
                          <p
                            *ngIf="livro.volumeInfo.title.length > 15"
                            class="font-weight-bold text-white text-truncate"
                            placement="top"
                            ngbTooltip="{{ livro.volumeInfo.title }}"
                          >
                            {{ livro.volumeInfo.title }}
                          </p>
                          <p
                            *ngIf="16 > livro.volumeInfo.title.length"
                            class="font-weight-bold text-white"
                          >
                            {{ livro.volumeInfo.title }}
                          </p>
                          <div class="row justify-content-center">
                            <button class="btn btn-outline-danger">
                              <span class="btn-inner--icon"
                                ><i class="ni ni-favourite-28"></i
                              ></span>
                            </button>
                          </div>
                        </blockquote>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
