<div class="container mb-3">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <ngb-tabset
        [justify]="'center'"
        class="custom-tab-content flex-column flex-md-row"
        type="pills"
      >
        <ngb-tab>
          <ng-template ngbTabTitle>
            <span class="fas fa-user mr-1"></span> Marcella
          </ng-template>
          <ng-template ngbTabContent>
            <div class="row justify-content-center">
              <div class="col-5 mt-2 mb-4">
                <img
                  src="./assets/img/profile1.jpg"
                  alt="Marcella's profile photo"
                  class="img-fluid rounded-circle shadow"
                />
              </div>
            </div>
            <p class="description">
              Caros amigos, a contínua expansão de nossa atividade ainda não
              demonstrou convincentemente que vai participar na mudança de todos
              os recursos funcionais envolvidos.
            </p>
            <p class="description">
              O empenho em analisar o julgamento imparcial das eventualidades
              maximiza as possibilidades por conta dos conhecimentos
              estratégicos para atingir a excelência.
            </p>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>
            <span class="fas fa-user mr-1"></span> João Fernando
          </ng-template>
          <ng-template ngbTabContent>
            <div class="row justify-content-center">
              <div class="col-5 mt-2 mb-4">
                <img
                  src="./assets/img/profile2.jpg"
                  alt="Marcella's profile photo"
                  class="img-fluid rounded-circle shadow"
                />
              </div>
            </div>
            <p class="description">
              A nível organizacional, a percepção das dificuldades prepara-nos
              para enfrentar situações atípicas decorrentes de alternativas às
              soluções ortodoxas.
            </p>
            <p class="description">
              Percebemos, cada vez mais, que o entendimento das metas propostas
              talvez venha a ressaltar a relatividade do impacto na agilidade
              decisória.
            </p>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>
            <span class="fas fa-user mr-1"></span> Laura
          </ng-template>
          <ng-template ngbTabContent>
            <div class="row justify-content-center">
              <div class="col-5 mt-2 mb-4">
                <img
                  src="./assets/img/profile3.jpg"
                  alt="Marcella's profile photo"
                  class="img-fluid rounded-circle shadow"
                />
              </div>
            </div>
            <p class="description">
              A prática cotidiana prova que o entendimento das metas propostas
              apresenta tendências no sentido de aprovar a manutenção dos
              relacionamentos verticais entre as hierarquias.
            </p>
            <p class="description">
              Por outro lado, o desafiador cenário globalizado assume
              importantes posições no estabelecimento dos níveis de motivação
              departamental.
            </p>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
