<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container pt-lg-md">
        <div class="row">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body p-lg-2">
              <div class="text-center">
                <h4 class="display-3 text-default">Filmes Populares</h4>
              </div>
              <section class="section bg-secondary">
                <div class="container">
                  <div class="row">
                    <div
                      class="col-12 col-md-3"
                      *ngFor="let filmes of lista_filmes"
                    >
                      <div class="card bg-default shadow border-0">
                        <img
                          routerLink="/filme"
                          class="img-fluid"
                          [src]="
                            'https://image.tmdb.org/t/p/w300/' +
                            filmes.poster_path
                          "
                          onerror="this.src = './assets/img/noimg.png' "
                        />
                        <blockquote class="card-blockquote">
                          <svg
                            preserveAspectRatio="none"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 583 95"
                            class="svg-bg"
                          >
                            <polygon
                              points="0,52 583,95 0,95"
                              class="fill-default"
                            />
                            <polygon
                              points="0,42 583,95 683,0 0,95"
                              opacity=".2"
                              class="fill-default"
                            />
                          </svg>
                          <p
                            *ngIf="filmes.title.length > 16"
                            class="font-weight-bold text-white text-truncate"
                            placement="top"
                            ngbTooltip="{{ filmes.title }}"
                          >
                            {{ filmes.title }}
                          </p>
                          <p
                            *ngIf="16 > filmes.title.length"
                            class="font-weight-bold text-white"
                          >
                            {{ filmes.title }}
                          </p>
                          <div class="row justify-content-center">
                            <button class="btn btn-outline-danger">
                              <span class="btn-inner--icon"
                                ><i class="ni ni-favourite-28"></i
                              ></span>
                            </button>
                            <button
                              (click)="filmeDetalhe(filmes.id)"
                              class="btn btn-outline-info"
                            >
                              <span class="btn-inner--icon"
                                ><i class="fas fa-info-circle"></i
                              ></span>
                            </button>
                          </div>
                        </blockquote>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <div class="container pt-lg-md">
        <div class="row">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body p-lg-2">
              <div class="text-center">
                <h4 class="display-3 text-default">Séries Populares</h4>
              </div>
              <section class="section bg-secondary">
                <div class="container">
                  <div class="row">
                    <div
                      class="col-12 col-md-3"
                      *ngFor="let series of lista_series"
                    >
                      <div class="card bg-default shadow border-0">
                        <img
                          routerLink="/filme"
                          class="img-fluid"
                          [src]="
                            'https://image.tmdb.org/t/p/w300/' +
                            series.poster_path
                          "
                          onerror="this.src = './assets/img/noimg.png' "
                        />
                        <blockquote class="card-blockquote">
                          <svg
                            preserveAspectRatio="none"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 583 95"
                            class="svg-bg"
                          >
                            <polygon
                              points="0,52 583,95 0,95"
                              class="fill-default"
                            />
                            <polygon
                              points="0,42 583,95 683,0 0,95"
                              opacity=".2"
                              class="fill-default"
                            />
                          </svg>
                          <p
                            *ngIf="series.name.length > 16"
                            class="font-weight-bold text-white text-truncate"
                            placement="top"
                            ngbTooltip="{{ series.name }}"
                          >
                            {{ series.name }}
                          </p>
                          <p
                            *ngIf="16 > series.name.length"
                            class="font-weight-bold text-white"
                          >
                            {{ series.name }}
                          </p>
                          <button class="btn btn-outline-danger">
                            <span class="btn-inner--icon"
                              ><i class="ni ni-favourite-28"></i
                            ></span>
                          </button>
                          <button
                            (click)="serieDetalhe(series.id)"
                            class="btn btn-outline-info"
                          >
                            <span class="btn-inner--icon"
                              ><i class="fas fa-info-circle"></i
                            ></span>
                          </button>
                        </blockquote>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg
          x="0"
          y="0"
          viewBox="0 0 2560 100"
          preserveAspectRatio="none"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
</main>
